nav{
  height: 8vh;
  background-color: lightblue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2vw;
}

nav p{
  display: flex;
  justify-content: flex-start;
}

.link{
  text-decoration: none;
  color: darkslategrey;
  font-size: 1.2em;
  padding-right: 2vw;
}

.addCustomer{
  float:left;
  border:2px solid black;
  width: 500px;
  height: 250px;
  margin-left: 3vw;
  margin-right: 3vw;
  padding: 10px;
  border-radius: 6px;
}
.box-for-each-customer{
  float: left;
  height: 250px;
  width: 10vw;
  padding: 10px;
  border: 1px solid gray;
  margin-right: 1vw; 
  border-radius: 6px;
}

label{
  border-radius: 3px;
}