.mainPage{
  text-align: center;
}

nav{
  height: 8vh;
  background-color: lightblue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2vw;
}

.link{
  text-decoration: none;
  color: darkslategrey;
  font-size: 1.2em;
  padding-right: 2vw;
}

.home-page{

}

.addCustomer{
  border: 1px solid black;
  height: 30vh;
  width: 30vw;
  border-radius: 6px;
}

nav p{
  font-size: 1.3em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-right: 65vw;
}

.add-new-customer{
  display: flex;
  justify-content: flex-start;
  margin-left: 6vw;
}