body{
  color: #444945;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
  height: 8vh;
  background-color: lightblue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2vw;
}

nav p{
  margin-right: 60vw;
  font-size: 1.3em;
}

nav img{
  margin-right: 62vw;
  height: 8.5vh;
}

.link{
  text-decoration: none;
  color: darkslategrey;
  font-size: 1.2em;
  padding-right: 2vw;
}

.addCustomer{
  float:left;
  border:2px solid gray;
  width: 500px;
  height: 250px;
  /* margin-left: 3vw; */
  /* margin-right: 3vw; */
  padding: 10px;
  border-radius: 6px;
}
.box-for-each-customer{
  float: left;
  height: 250px;
  width: 10vw;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 6px;
  /* margin-right: 1vw; */
  margin-left: 1.1vw;
  margin-bottom: 2vh;
  color: black;
}

.box-for-each-customer:hover{
  background-color: lightblue;
}

label{
  border-radius: 3px;
}

.update-through-phone{
  border: 2px solid gray;
  border-radius: 6px;
  height: 250px;
  padding: 10px;
  width: 320px;
  float: left;
  /* margin-right: 3vw; */
}

.main-page img{
  height: 70vh;
}

.header{
  height: 87vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.our-team{
  height: 45vh;
  background-color: lightgrey;
  text-align: center;
  font-size: 1.4em; 
}

.team-images{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.team-images h4{
  margin-bottom: -3vh;
  text-align: center;  
}

.team-images img{
  height: 25vh;
  margin-bottom: -3.5vh;
}

button {
  background-color: white; 
  color: gray; 
  /* border: 2px solid #008CBA; */
  border: 2px solid lightblue;
  height: 4vh;
  border-radius: 6px;
  padding: 7px;
}

button:hover {
  /* background-color: #008CBA; */
  background-color: lightblue;
  color: white;
}

.login-form-parent{
  display: flex;
  justify-content: center;
  text-align: center;
}


.login-form{
  border: 2px solid grey;
  border-radius: 25px;
  height: 40vh; 
  width: 30vw;
  padding: 30px;
  margin-top: 13vh;
  background-image: url('https://i.gifer.com/1IkC.gif');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-form input{
  height: 5vh;
  font-size: 1em;
  text-align: center;
  border-radius: 6px;
  width: 100%;
}
/* 
.login-form input{
  height: 5vh;
  padding: 10px;
} */

.button-id{
  display: flex;
  justify-content: center;
  align-content: center
}

/* .login-form button{
  float: right;
} */

.contact-us{
  text-align: center;
  display: flex;
  flex-flow: column;
}

.our-mission{
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  height: 30vh;
  border-top: 1px solid gray;
  
}

.show-rewards-box{
  float: left;
  /* margin-right: 5vw; */
  border: 2px solid gray;
  height: 250px;
  padding: 10px;
  width: 400px;
  border-radius: 6px;
}

.new-reward-component{
  float: left;
  border: 2px solid gray;
  height: 250px;
  padding: 10px;
  /* margin-right: 2vw; */
  border-radius: 6px;
  width: 350px;
}

.space-evenly{
  display: flex;
  justify-content: space-evenly;
  margin-top: 4vh;
}

.show-all-customers{
  display: flex;
  flex-wrap: wrap;
}

.restaurant-index{
  background-image:
  url('https://i.gifer.com/PHx.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.reward-details-background{
  background-image: url('https://media.giphy.com/media/Zt6W9aiKkUSZy/giphy.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 90vh;
  padding: 10px;
}

h1{
  text-align: center;
}

span{
  float: left;
  margin-bottom: 15px;
}
button{
  float: right;
}

#rewards-links{
  color: gray;
  font-size: 1.2em;
  text-decoration: none;
}

#rewards-links:hover{
  color: black;
}

input{
  border-radius: 1px;
  height: 2vh;
  /* margin-left: 5px; */
}

h2{
  text-align: center;
  font-size: 1.6em;
  margin: 0;
}

.user-rewards{
  /* border-top: 1px solid grey; */
  border-bottom: 1px solid grey;
  color: black;

}

.user-rewards-div{
  border: 2px solid grey;
  height: 65vh;
  width: 20vw;
  border-radius: 8px;
  float: right;
  margin-right: 10vw;
  padding: 15px;
  background-image: url('https://i.gifer.com/6Yrg.gif');
  background-size: cover; 
  opacity: 0.7;
  overflow-y: scroll;
  
}
.reward-details-a{
  display: flex;
  flex-flow: column;
  position: absolute;
  margin-left: 15vw;
  text-align: center;
  margin-top: 10vh;
}




.reward-details-b{
  border: 2px solid grey;
  border-radius: 6px;
  width: 20vw;
  height: 40vh;
  display: flex;
  flex-flow: column;
  /* text-align: center; */
  justify-content: space-evenly;
}